*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Dancing Script', cursive;
    font-family: 'Didact Gothic', sans-serif;
}

html,body{
    height: 100%;
}

header{
    width: 100%;
    height: 160px;
    padding: 0 2%;
    background-color: #1282de;
    
}

.container-topo{
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;

}

nav.menu-desktop{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

img{
    width: 150px;
    height: 118px;
    margin-top: 15px;
}

nav.menu-desktop ul{
    display: flex;
    list-style-type: none;
}

nav.menu-desktop ul li{
    margin: 0 50px;
}

nav.menu-desktop ul li a{
    font-size: 29px;
    font-family:'Dancing Script', cursive;
    font-weight: 600;
    color: black;
    text-decoration: none;
    transition: 1s;
    
}

nav.menu-desktop ul li a:hover{
    color: white;
}

nav.menu-mobile{
    display: flex;
    justify-content: space-between;
    
}

nav.menu-mobile img{
    display: none;
}

nav.menu-mobile ul{
    position: absolute;
    left: 0;
    top: 170px;
    border-top: 2px solid #ccc;
    background: white;
    width: 100%;
    list-style-type: none;
    display: none;
}

nav.menu-mobile ul li{
    width: 100%;
    display: flex;
    border-bottom: 1px solid black;
    padding: 10px 8px;
    
}

nav.menu-mobile ul li a{
    text-decoration: none;
    color: black;
    font-family:'Dancing Script', cursive;
    font-size: 25px;
    font-weight: 600;
    transition: 0.5s;
    display: none;
    
}

nav.menu-mobile ul li a:hover{
    color: blue;
   
    
}

nav.menu-mobile > i{
    cursor: pointer;
    font-size: 25px;
    color: black;
    position: absolute;
    right: 100px;
    top: 60px;
    display: none;
}

section.page{
    width: 100%;
    height: 900px;
    background: url('../img/gt500.jpg') center fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    opacity: 0.6;
    transition: 1.7s;
}

section.page:hover{
    opacity: 1;
}

section.page .container-img{
    display: flex;
    justify-content: end;
    width: 100%;
    position: absolute;
    top: 250px;
    right: 190px;
    
    
}

section.page .container-img h2{
    font-size: 82px;
    font-family:'Dancing Script', cursive;
    font-weight: 500;
    color:blue;
    transition: 1s;
    
}

section.page .container-img h2:hover{
    color: #1282de;
}

.efeito{
    width: 100%;
    height: 900px;
    background: black;
}

section.information{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 100%;
    height: 550px;
    background: white;
}

section.information img{
    width: 50em;
    height: 30em;
    margin-top: 50px;
    margin-right: 200px;
}

section.information .container-info{
    max-width: 800px;
    margin: 0 auto;
}

section.information .container-info h2{
    font-size: 52px;
    font-weight: 500;
    font-family:'Didact Gothic', sans-serif;
    margin-top: 50px;
    color: #616161;
    
}

section.information .container-info p{
    font-size: 19px;
    font-weight: 300;
    color: #616161;
    margin-top: 10px;
}

section.information .container-info > input{
    font-size: 18px;
    font-weight: 600;
    padding: 10px 40px;
    border: 0px solid;
    border-radius: 30px;
    margin-top: 35px;
    background: #00095b;
    color: white;
    -webkit-box-shadow: 5px 11px 23px 8px rgba(92,92,92,1);
    -moz-box-shadow: 5px 11px 23px 8px rgba(92,92,92,1);
    box-shadow: 5px 11px 23px 8px rgba(92,92,92,1);
    cursor: pointer;
    transition: 0.7s;
}

section.information .container-info > input:hover{
    background: #1282de;
    padding: 10px 42px;
}

footer{
    width: 100%;
    height: 200px;
    background-color: #1282de;
}

footer .end-page{
    max-width: 1400px;
    display: flex;
    justify-content: end;
}

footer .end-page h2{
    font-size: 17px;
    font-family:'Didact Gothic', sans-serif;
    font-weight: 400;
    margin-top: 100px;
    margin-right: 100px;
    transition: 0.5s;
    
}

footer .end-page h2:hover{
    color: white;
    
}

footer .end-page h2 i:hover{
    color: #1298de;
    
}

footer .end-page img.img-one{
    width: 12em;
    height: 8em;
    margin-top: 30px;
    
}

footer .end-page img.img-two{
    width: 27em;
    height: 7em;
    margin-top: 60px;
    margin-left: 30px;
    
}

footer .descriptions{
    width: 100%;
    height: 30px;
    background: gray;
}

footer .descriptions h2{
    font-size: 12px;
    text-align: center;
    padding-top: 5px;
}




@media screen and (max-width: 1650px){
    section.information .container-info h2{
        font-size: 42px;
        margin-left: 90px;
        
    }
    section.information .container-info p{
        font-size: 19px;
        margin-left: 90px;
        
    }
    section.information .container-info > input{
        margin-left: 90px;

    }
    section.information img{
        width: 48em;
        height: 28em;
        margin-right: 50px;
        
    }
    section.page .container-img h2{
        font-size: 75px;
        
       
        
        
    }
}

section.wraper{
    width: 100%;
    height: 600px;
    background: url('../img/volante.jpg') center fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

section.option{
    width: 100%;
    height: 900px;
}

section.option .container-colors{
    max-width: 1400px;
    height: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: column-reverse;
    
}

.container-colors h2{
    font-size: 28px;
    font-family: 'Didact Gothic', sans-serif;
    font-weight: 600;
    color: #00095b;
    text-decoration: underline;
    text-align: center;
    margin-bottom: 10px;
   
}

section.option .container-colors img{
    width: 90%;
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

section.option .option-colors{
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    background: #cccc;
    
    
}
section.option .option-colors input{
    width: 90px;
    height: 72px;
    margin: 0 20px;
    text-align: center;
     position: relative;
    left: 22%;
    padding: 0 3px;
    display: flex;
}

section.option .option-colors input[type=image]:hover{
    background-image: url("../img/confirme.png");
    opacity: 0.5;
}

@media screen and (max-width: 1478px){
    section.page .container-img h2{
        font-size: 65px;
        margin-left: 450px;
        }
        section.information img{
            width: 45em;
            height: 25em;
            margin-right: 10px;
            
        }
        section.information .container-info h2{
            font-size: 42px;
            margin-left: 110px;
            
        }
        section.information .container-info p{
            font-size: 19px;
            margin-left: 110px;
            
        }
        section.information .container-info > input{
            margin-left: 110px;
    
        }
        section.option .option-colors input{
            margin-right: 0px;
        }
}

@media screen and (max-width: 1401px){
    section.page .container-img h2{
        font-size: 56px;
          
        }
    nav.menu-desktop{
        display: flex;
        justify-content: space-around;
        align-items: center;
    
    }
    section.information img{
        width: 42em;
        height: 22em;
        
        
    }
    section.information .container-info h2{
        font-size: 42px;
        margin-left: 180px;
        
    }
    section.information .container-info p{
        font-size: 18px;
        margin-left: 180px;
        text-align: justify;
        
    }
    section.information .container-info > input{
        margin-left: 180px;

    }
    section.option .option-colors input{
        margin-right: 0px;
    }


    footer .end-page h2{
        font-size: 11px;
        margin-top: auto;
        margin-left: auto;
        
        
    }
    
    footer .end-page img.img-one{
        width: 10em;
        height: 8em;
        margin-left: 50px;
        
        
    }
    
    footer .end-page img.img-two{
        width: 25em;
        height: 7em;
        margin-left: 50px;
        
    }
}

@media screen and (max-width: 1287px){
    section.option .option-colors input{
        width: 80px;
        height: 65px;
        position: relative;
        left: 0px
    }
}


@media screen and (max-width: 905px){
    nav.menu-desktop{display: none;}
    nav.menu-mobile ul{
        position: absolute;
        left: 0;
        top: 160px;
        border-top: 2px solid #ccc;
        background: white;
        width: 100%;
        z-index: 1;
        list-style-type: none;
        display: block;
        
    }
    nav.menu-mobile ul li a{
        text-decoration: none;
        color: black;
        font-family:'Dancing Script', cursive;
        font-size: 25px;
        font-weight: 600;
        transition: 0.5s;
        display: block;
        
        
    }
   
    nav.menu-mobile img{
        display: flex;
        
    }

    nav.menu-mobile i{
        display: flex;
        font-size: 32px;
        transition: 0.5s;
        
    }
    nav.menu-mobile i:hover{
        color: white;
        
    }
    section.page .container-img{
        display: flex;
        justify-content: end;
        width: 100%;
        position: absolute;
        top: 250px;
        right: 10px;
        
        
    }
    section.information{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 700px;
        
    }
    section.information img{
        width: 40em;
        height: 25em;
        
        
        
        
    }
    section.information .container-info h2{
        font-size: 32px;
        
        
        
    }
    section.information .container-info p{
        font-size: 16px;
        margin-left: 180px;
        text-align: justify;
        
    }
    section.information .container-info > input{
        font-size: 16px;
        font-weight: 600;
        padding: 10px 38px;

    }
    
    section.option .container-colors img{
        width: 45em;
        height: 25em;
        position: relative;
        left: 0;
    }

    section.option .option-colors input{
            width: 60px;
            height: 40px;
            
    }


  
        
    }

    @media screen and (max-width: 788px){
        section.page{
            width: 100%;
            height: 900px;
            background: url('../img/gt500.jpg') center fixed;
            background-size: 100% 100%;
           
            opacity: 0.6;
            transition: 1.7s;
        }
        section.page .container-img{
            width: 100%;
            position: absolute;
            top: 230px;
            left: 90px;
            
            
            
        }
        section.page .container-img h2{
            padding: 0px 100px;
            font-size: 50px;
            font-weight: 700;
            
            
            
              
            }

  }

  
  @media screen and (max-width: 665px){
    section.page{
        width: 100%;
        height: 900px;
        background: url('../img/gt500.jpg') center fixed;
        background-size: 100% 100%;
       
        opacity: 0.6;
        transition: 1.7s;
    }
    section.page .container-img{
        width: 100%;
        position: absolute;
        top: 230px;
        left: 90px;
        
        
        
    }
    section.page .container-img h2{
        padding: 0px 100px;
        font-size: 50px;
        font-weight: 700;
        
        
        
          
        }
        section.information img{
            width: 32em;
            height: 22em;
            
            
            
            
        }
        section.information .container-info h2{
            font-size: 30px;
            margin-left: 50px;
            
            
            
        }
        section.information .container-info p{
            font-size: 14px;
            margin-left: 50px;
            text-align: justify;
            
        }
        section.information .container-info > input{
            font-size: 15px;
            font-weight: 600;
            padding: 10px 38px;
            margin-left: 50px;
    
        }

        section.option .container-colors img{
            width: 38em;
            height: 18em;
            display: block;
            margin-left: auto;
            margin-right: auto;
            
        }

        section.option .container-colors h2{
            font-size: 18px;
            margin-left: 0px;
        }

        section.option .option-colors{
            height: 150px;
            
        }
    
        section.option .option-colors input{
                width: 38px;
                height: 28px;
                margin: 0 10px;
                
        }

        footer .end-page img.img-one{
            width: 9em;
            height: 8em;
            position: absolute;
            right: 100px;
            
            
        }
        
        footer .end-page img.img-two{
            width: 23em;
            height: 7em;
            margin-left: 500px;
            
        }

}